<!-- Button trigger modal -->
 <button type="button" {{action 'clearForm'}} class="btn btn-primary btn-xs" data-toggle="modal" data-target="#add-to-order-list-form-{{item.id}}">
  Add To Order List
 </button>

<!-- Modal -->
<div class="modal fade" id="add-to-order-list-form-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add To Order List: {{item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {{!-- <span aria-hidden="true">&times;</span> --}}
        </button>
      </div>
      <div class="modal-body">
        <div class='message'>{{message}}</div>
        <form  {{action 'addToOrderList' item on='submit'}}>
          <label>Requested Quantity</label> {{input
            type='number'
            min=1
            placeholder='Requested Quantity'
            value=quantityPurchased}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
