{{item-form category=category createItem="createItem" }}
<h4>{{category.name}}</h4>
{{!-- {{inventory-list/item category=category}} --}}

<table class="table table-striped">
 <thead class='thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Current Quantity</th>
      <th>Alert Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        {{#each category.items as |item|}}
    <tr>
        <th>{{item.name}}</th>
        <th>{{item.description}}</th>
        <th>{{item.currentQuantity}}</th>
        <th>{{item.alertQuantity}}</th>
        <th>{{edit-item-form item=item editItem='editItem'}}</th>
        <th>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to 'categories'}}Back To Category{{/link-to}}
