<div class="col-md-10 col-md-offset-1 content">
  {{!-- <div class='page-header'>Inventory</div> --}}
{{#if isSingleCategoryView}}
<div class='page-header'>{{category.name}} inventory list</div>
{{/if }}
<table class="table table-category table-responsive table-striped">
 <thead class='thead-inverse'>
    <tr>
      {{#if removeLink}}
        <th class='th-invetory-name th-category-name tb-header'>{{category.name}} ({{category.items.length}}) </th>
        {{else}}
        <th class='th-invetory-name th-category-name tb-header'>{{#link-to 'category' category}}{{category.name}} ({{category.items.length}}){{/link-to}}</th>
      {{/if}}
      <th class='th-inventory-des tb-header'></th>
      {{!-- <th class='th-quant'><button type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th> --}}
      {{#unless hide}}
        {{#if category.items.length}}
        <th class='th-btn tb-header'><button class='btn btn-primary btn-xs' type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th>
          {{else}}
          <th class='th-btn tb-header'></th>
        {{/if}}
        {{else}}
        <th class='th-btn tb-header'></th>
      {{/unless}}
      <th class='th-btn tb-header'>{{item-form category=category createItem="createItem" }} </th>
      <th class='th-inventory-btn tb-header'>{{edit-category-form category=category editCategory='editCategory'}}</th>
      <th class='th-inventory-btn tb-header'>{{delete-category-button-confirm category=category deleteCategory='deleteCategory'}}</th>
    </tr>
</thead>
<tbody>
{{#if isShowingTable}}
<tr>
  <th class='th-invetory-name tb-field'>Name</th>
  <th class='th-inventory-des tb-field'>Description</th>
  <th class='th-btn tb-field'>Current Quantity</th>
  <th class='th-btn tb-field'>Alert Quantity</th>
  <th class='th-inventory-btn tb-field'></th>
  <th class='th-inventory-btn tb-field'></th>
</tr>
{{!-- </thead>
<tbody> --}}
    {{#each category.items as |item|}}
<tr>
    <th class='th-invetory-name'>{{item.name}}</th>
    <th class='th-inventory-des'>{{item.description}}</th>
    <th class='th-btn'>{{item.currentQuantity}}</th>
    <th class='th-btn'>{{item.alertQuantity}}</th>
    <th class='th-inventory-btn'>{{edit-item-form item=item category=category editItem='editItem'}}</th>
    <th class='th-inventory-btn'>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th>
</tr>

{{/each}}
{{/if}}
{{!-- <button type='button' {{action 'toggleItemTable'}}>View Item</button> --}}
{{!-- <br> --}}

</tbody>
</table>
</div>
