<!-- Button trigger modal -->
 <button type="button"{{action 'clearItemForm'}} class="btn btn-success btn-xs" data-toggle="modal" data-target="#item-form-{{category.id}}">
  Add Item
 </button>

<!-- Modal -->
<div class="modal fade" id="item-form-{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item To Category: {{category.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {{!-- <span aria-hidden="true">&times;</span> --}}
        </button>
      </div>
      <div class="modal-body">
        <div class='message'>{{message}}</div>
        <form {{action "createItem" on="submit"}}>
          <label>Item Name</label>
          {{input
            placeholder='Name: Required'
            value=newItem.name}}
          <label>Description</label>
          {{input
              placeholder='Description'
              value=newItem.description}}
          <label>Current Quantity</label>
          {{input
              type='number'
              min=0
              placeholder='Current quantity required'
              value=newItem.currentQuantity}}
          <label>Alert Quantity</label>
          {{input
              type='number'
              min=0
              placeholder='Alert quantity'
              value=newItem.alertQuantity}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
