{{!-- {{item-form category=category createItem="createItem" }} --}}
{{!-- <h4>{{category.name}}</h4> {{item-form category=category createItem="createItem" }} --}}
{{!-- {{item-list/item category=category}} --}}
{{!-- <button type='button' {{action 'toggleItemTable'}}>{{buttonName}}</button> --}}

{{!-- <table class="table table-striped table-item">
 <thead class='thead-inverse item-table-header'> --}}
    <tr>
      <th class='th-name'>Name</th>
      <th class='th-des'>Description</th>
      <th class='th-quant'>Current Quantity</th>
      <th class='th-quant'>Alert Quantity</th>
      <th class='th-btn'></th>
      <th class='th-btn'></th>
    </tr>
  {{!-- </thead>
  <tbody> --}}
        {{#each category.items as |item|}}
    <tr>
        <th class='th-name'>{{item.name}}</th>
        <th class='th-des'>{{item.description}}</th>
        <th class='th-quant'>{{item.currentQuantity}}</th>
        <th class='th-btn'>{{item.alertQuantity}}</th>
        <th class='th-btn'>{{edit-item-form item=item category=category editItem='editItem'}}</th>
        <th class='th-btn'>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th>
    </tr>

    {{/each}}
  {{!-- </tbody>
</table> --}}
{{!-- {{#link-to 'categories'}}Back To Category{{/link-to}} --}}
