{{!-- <h1>{{test}}</h1> --}}
{{!-- <h1>{{category.hasRunningLowItems}}</h1> --}}

{{#if category.hasOrderedItems}}
  <table class="table table-category table-responsive table-striped">
    <thead class='thead-inverse'>
      <tr>
        <th class='th-order-list-name th-category-name tb-header'>
          {{category.name}} ({{category.orderedItemsCount}})
        </th>
        <th class='th-des tb-header'></th>
        <th class='th-quant tb-header'></th>
        <th class='th-quant tb-header'></th>
        <th class='th-btn tb-header'></th>
        <th class='th-requested tb-header'></th>
        <th class='th-btn-inventory tb-header'></th>
        {{!-- <th class='th-quant'><button type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th> --}}
        {{#unless hide}}
          {{#if category.items.length}}
            <th class='th-view-btn tb-header'><button class='btn btn-primary btn-xs' type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th>
          {{else}}
            <th class='th-view-btn tb-header'></th>
          {{/if}}
        {{/unless}}

      </tr>
    </thead>
    <tbody>
    {{!-- </tbody>
  </table> --}}

  {{#if isShowingTable}}
    {{!-- <table class="table table-striped table-item">
      <thead class='thead-inverse item-table-header'> --}}
        <tr>
          <th class='th-order-list-name tb-field'>Name</th>
          <th class='th-des tb-field'>Description</th>
          <th class='th-quant tb-field'>Current Quantity</th>
          <th class='th-quant tb-field'>Alert Quantity</th>
          <th class='th-btn tb-field'>Requested Quantity</th>
          <th class='th-requested tb-field'></th>
          <th class='th-btn-inventory tb-field'></th>
          <th class='th-view-btn tb-field'></th>
          {{!-- <th class='th-btn'></th> --}}
        </tr>
      {{!-- </thead>
      <tbody> --}}
        {{#each category.items as |item|}}
          {{#if item.inOrderList}}
            <tr>
              <th>{{item.name}}</th>
              <th>{{item.description}}</th>
              <th>{{item.currentQuantity}}</th>
              <th>{{item.alertQuantity}}</th>
              <th>{{item.quantityPurchased}}</th>
              {{!-- <th>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th> --}}
              {{!-- {{#if item.inOrderList}}
                <th class='th-cart-info'>In Cart</th>
              {{else}} --}}
                <th class='th-requested'><{{edit-requested-quantity-form item=item category=category editRequestedQty='editRequestedQty'}}</th>
                <th class='th-btn-inventory'><{{send-to-inventory-modal item=item category= category removeFromOrderList='removeFromOrderList' sendToInventory='sendToInventory'}}</th>
                <th class='th-view-btn'><{{remove-from-order-list item=item category= category removeFromOrderList='removeFromOrderList'}}</th>
              {{!-- {{/if}} --}}
            </tr>
          {{/if}}
        {{/each}}
      {{!-- </tbody>
    </table> --}}
  {{/if}}
  </tbody>
</table>
{{/if}}
{{!-- <button type='button' {{action 'toggleItemTable'}}>View Item</button> --}}
{{!-- <br> --}}
