{{!-- <h1>{{test}}</h1> --}}
{{!-- <h1>{{category.hasRunningLowItems}}</h1> --}}

{{#if category.hasRunningLowItems}}
<table class="table table-category">
 <thead class='thead-inverse'>
    <tr>
      <th class='th-name th-category-name'>{{#link-to 'category' category}}{{category.name}} ({{category.items.length}}) {{/link-to}}</th>
      <th class='th-des'></th>
      {{!-- <th class='th-quant'><button type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th> --}}
      {{#unless hide}}
        {{#if category.items.length}}
        <th class='th-quant'><button type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th>
        {{else}}
        <th class='th-quant'></th>
        {{/if}}
      {{/unless}}<th class='th-quant'>{{item-form category=category createItem="createItem" }} </th>
      <th class='th-btn'>{{edit-category-form category=category editCategory='editCategory'}}</th>
      <th class='th-btn'>{{delete-category-button-confirm category=category deleteCategory='deleteCategory'}}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{{#if isShowingTable}}

<table class="table table-striped table-item">
 <thead class='thead-inverse item-table-header'>
    <tr>
      <th class='th-name'>Name</th>
      <th class='th-des'>Description</th>
      <th class='th-quant'>Current Quantity</th>
      <th class='th-quant'>Alert Quantity</th>
      <th class='th-btn'></th>
      <th class='th-btn'></th>
    </tr>
  </thead>
  <tbody>
        {{#each category.items as |item|}}
        {{#if item.isLow}}
    <tr>
        <th>{{item.name}}</th>
        <th>{{item.description}}</th>
        <th>{{item.currentQuantity}}</th>
        <th>{{item.alertQuantity}}</th>
        <th>{{edit-item-form item=item editItem='editItem'}}</th>
        <th>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
{{/if}}
{{/if}}
{{!-- <button type='button' {{action 'toggleItemTable'}}>View Item</button> --}}
{{!-- <br> --}}
