{{!-- <h1>{{test}}</h1> --}}
{{!-- <h1>{{category.hasRunningLowItems}}</h1> --}}
{{#if category.hasRunningLowItems}}
  <table class="table table-category">
    <thead class='thead-inverse'>
      <tr>
        <th class='th-name th-category-name'>
          {{category.name}}
        </th>
        <th class='th-des'></th>
        <th class='th-quant'></th>
        <th class='th-btn'></th>
        <th class='th-btn'></th>
        {{!-- <th class='th-quant'><button type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th> --}}
        {{#unless hide}}
          {{#if category.items.length}}
            <th class='th-view-btn'><button class='btn btn-warning btn-xs' type='button' {{action 'toggleItemTable' category}}>{{buttonName}}</button></th>
          {{else}}
            <th class='th-vivew-btn'></th>
          {{/if}}
        {{/unless}}

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  {{#if isShowingTable}}
    <table class="table table-striped table-item">
      <thead class='thead-inverse item-table-header'>
        <tr>
          <th class='th-name'>Name</th>
          <th class='th-des'>Description</th>
          <th class='th-quant'>Current Quantity</th>
          <th class='th-quant'>Alert Quantity</th>
          <th class='th-btn'>Requested Quantity</th>
          <th class='th-btn'></th>
          {{!-- <th class='th-btn'></th> --}}
        </tr>
      </thead>
      <tbody>
        {{#each category.items as |item|}}
          {{#if item.isLow}}
            <tr>
              <th>{{item.name}}</th>
              <th>{{item.description}}</th>
              <th>{{item.currentQuantity}}</th>
              <th>{{item.alertQuantity}}</th>
              <th>{{item.quantityPurchased}}</th>
              {{!-- <th>{{delete-item-button-confirm item=item deleteItem='deleteItem'}}</th> --}}
              {{#if item.inOrderList}}
                <th class='th-cart-info'>{{#link-to "order-list"}}In Order List{{/link-to}}</th>
              {{else}}
                <th class='th-cart-info'><{{add-to-order-list-form item=item addToOrderList='addToOrderList'}}</th>
              {{/if}}
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{/if}}
{{!-- <button type='button' {{action 'toggleItemTable'}}>View Item</button> --}}
{{!-- <br> --}}
