<!-- Button trigger modal -->
<button type="button" {{action 'getCurrentValue'}} class="btn btn-success btn-xs" data-toggle="modal" data-target="#sendToInventory{{item.id}}">
  Send To Inventory
</button>

<!-- Modal -->
<div class="modal fade" id="sendToInventory{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send To Inventory Item: {{item.name}} in category {{category.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {{!-- <span aria-hidden="true">&times;</span> --}}
        </button>
      </div>
      <div class="modal-body">
        <div class='message'>{{message}}</div>
        <form  {{action 'sendToInventory' item on='submit'}}>
          <label>Purchased Amount</label> {{input
            type='number'
            min=1
            placeholder='Purchased Amount'
            value=purchasedAmount}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
