{{!-- <h1>hi</h1> --}}
{{inventory-list category=model createItem='createItem' editItem='editItem'}}





{{!-- {{model.items.length}} --}}
{{!-- <h1>{{model.items.length}}</h1> --}}
{{!-- {{model.name}} --}}
{{!-- {{#each model as |category|}}
{{category.name}}
<table class="table table-striped">
  <thead class='thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Current Quantity</th>
      <th>Alert Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each model.items as |item|}}
      <th>{{item.name}}</th>
      <th>{{item.description}}</th>
      <th>{{item.currentQuantity}}</th>
      <th>{{item.alertQuantity}}</th>
      {{/each}}
    </tr>
  </tbody>
</table> --}}
{{!-- {{/each}} --}}
