{{!-- {{#each category as |z|}} --}}
{{!-- <h1>{{model.name}}</h1> --}}
{{inventory-list isShowingTable=true hideViewItemBtn=true category=model editCategory='editCategory' deleteCategory='deleteCategory' createItem='createItem' deleteItem='deleteItem' editItem='editItem'}}
{{!-- {{#each model as |category|}}
  {{item-list category=category}} --}}
{{!-- {{/each}} --}}
{{#link-to 'categories'}}Back To Category{{/link-to}}


{{!-- {{model.items.length}} --}}
{{!-- <h1>{{model.items.length}}</h1> --}}
{{!-- {{model.name}} --}}
{{!-- {{#each model as |category|}}
{{category.name}}
<table class="table table-striped">
  <thead class='thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Current Quantity</th>
      <th>Alert Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each model.items as |item|}}
      <th>{{item.name}}</th>
      <th>{{item.description}}</th>
      <th>{{item.currentQuantity}}</th>
      <th>{{item.alertQuantity}}</th>
      {{/each}}
    </tr>
  </tbody>
</table> --}}
{{!-- {{/each}} --}}
